<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <%- include("../public/cssjs.ejs") %>
</head>
<body>
    <h1>Pokemon Pokedex</h1>
    
    <% for (let i=0; i<Pokemon.length; i++) { %>
        <a href="/pokemon/<%= i %>"><h3><%= Pokemon[i].name %></h3>
        <img src="<%= Pokemon[i].img %>">
        </div>
    <% } %>
    </a>
</body>
</html>